main {
    height: 1000px;
}

span{
    color: white;
}

body{
    background-color: rgb(31, 40, 47);
}

.tabuleiro{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap:0.8em;
    padding-bottom: 0.8em;
}

.lugar {
    width: 10rem;
    height: 10rem;
    background-color: rgb(41, 52, 61);
}

.locais{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap:0.8em;
    padding-bottom: 0.8em;
}

.local {
    width: 15rem;
    height: 15rem;
    background-color: rgb(35, 45, 53);
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.deck{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: .8em;
}

.card{
    width: 7rem;
    height: 8.1rem;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;

    border-radius: 10px;

    transition: .3s;
}

.card:hover{
    scale: 1.5;
    rotate: 360deg;
}

.a{
    background-color: #ffa446;
}

.b{
    background-color: #ffa588;
}

.c{
    background-color: #d62957;
}

.d{
    background-color: #1693a5;
}

.e{
    background-color: #572e4f;
}

.f{
    background-color: #6cb6a5;
}

.g{
    background-color: #51615b;
}

.h{
    background-color: #191f04;
}

.i{
    background-color: #7abf66;
}

.j{
    background-color: #525574;
}

.forca{
    font-size: 4rem;
    font-family: 'Audiowide', cursive;
}

.energia{
    font-size: 3rem;
    font-family: 'Audiowide', cursive; 
}